---
---

@import "{{ site.theme }}";

hr {
	background: black;
}

header {
	padding: 0;
	margin: 0;
	width: 100%;
}

#banner {
	width: 100%;
}

body, #container {
	color: skyblue;
	background: rgb(22,22,22);
	text-shadow: none;
}

.inner {
	width: 800px;
}

h1, h2, h3, h4, h5, h6 {
	color: blue;
}

.greybackground {
	background: grey;
	width: 100%;
}

#sidepic {
	float: right;
}

#sponsors {
	display: inline;
}

#sponsors img {
	max-width: 15px;
	padding: 1em;
}