---
---

@import "{{ site.theme }}";

header {
	padding: 0;
	margin: 0;
	width: 100%;
}

#banner {
	width: 100%;
}

body, #container, .inner {
	color: skyblue;
	background: rgb(22,22,22);
	text-shadow: none;
	width: 800px;
}

h1, h2, h3, h4, h5, h6 {
	color: blue;
}

.greybackground {
	background: grey;
}

#features {
	display: inline;
	float: left;
	max-width: 50%;
}

#sidepic {
	display: inline;
	float: right;
	max-width: 50%;
}

#sponsors {
	display: inline;
}

#sponsors img {
	max-width: 15px;
	padding: 1em;
}